@page
@model IndexModel
@{
    ViewData["Title"] = "Rurouni Kenshin Wiki";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos a Wiki de Rurouni Kenshin!</h1>
    <p>Aqui falaremos tudo sobre o anime. Temas como personagens, estilos de luta, espadas, novos episódios e muito mais!</p>
</div>
