@page
@model WebApplication1.Pages.PersonagensModel
@{
    ViewData["Title"] = "Personagens";
}
    
<!-- Linkando o CSS -->
<link rel="stylesheet" href="~/css/perssonagens.css" />

<h1>@ViewData["Title"]</h1>

<p>Veja aqui a lista de personagens de Rurouni Kenshin e seu nível de poder</p>

<div class="estilopersonagens">
    <h4>
        <img src="https://i.imgur.com/KeEr6xo.jpeg" alt="Kenshin" /> <br />
        Kenshin Himura/Battousai
    </h4>
    <h4>
        <img src="https://i.imgur.com/NFn1Z88.jpeg" alt="Sanozuki" /> <br />
        Sanosuki Sagara
    </h4>
    <h4>
        <img src="https://i.imgur.com/NkJ2GZb.jpeg" alt="Saitou" /> <br />
        Hajime Saitou/Goro Fujita
    </h4>
    <h4>
        <img src="https://i.imgur.com/MkWW5KN.png" alt="Hiko" /> <br />
        Seijuro Hiko
    </h4>
</div>